body, h1, h2, h3, h4, img, p, ul, li, a, hr, header, span, nav, section {
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
body {
  background-color: #010611;
}
html {
  scroll-behavior: smooth;
}

#about {
   background-color: #0b1528;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   padding-bottom: 20px;
}

main {
  max-width: 1000px;
  height: auto;
  background-color: white;
  margin: 20px auto;
  display: block;
  box-shadow: 0px 1px 20px 1px;
}

.logo {
	margin: auto;
	display:block;
	font-family: 'Tangerine', cursive;
	width: 210px;
	padding-top: 10px;
}
.Sanduni {
    font-size: 75px;
    color: #fece1a;
    text-shadow: 2px 2px 4px #000000;
}
.Rathnayake {
  font-size: 60px;
  position: relative;
  top: -10px;
  padding-left: 90px;
  color: #101268;
  text-shadow: 2px 2px 4px #8c8c7b;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding-left: 33%;
  overflow: hidden;
  background-color: #0b1528;
}
.log {
	float: right;
}
li {float: left;
}
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.topnav li a:hover {
  background-color: #fece1a;
  color: #0b1528;
  transition-delay: 0.35s;
}
ul.topnav li.icon {
  display: none;
}

/* Navigation End */

.basic {
  height: 350px;
}

.main-img img {
  float: left;
  position: relative;
  margin: 40px 9%;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: white;
}
.intro {
  padding-top: 115px;
  float: left;
  position: relative;
}
.intro h2 {
  text-align: left;
  padding-bottom: 10px;
  color: #101268;
}
.intro p {
  font-size: 20px;
  font-family: 'PT Serif', serif;
  text-align: left;
}
/* basik End */

.about {
  background-color: #0b1528;
}

.about h3 {
  text-align: center;
  padding: 30px 0px;
  color: #fece1a;
}

.about p {
  color: white;
  font-family: 'PT Serif', serif;
}

.part1 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}

.part2 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part1 p {
  padding-left: 30px;
}
.part2 p {
  padding-left: 25%;
}

/* about End */
#education {
   background-color: #fff;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   font-family: 'PT Serif', serif;
   padding-bottom: 10px;
}
.part3, .part4 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}

.part3 h3, .part4 h3 {
  text-align: center;
  color: #101268;
  padding: 25px 0px 20px;
  font-size: 98%;
}
.part3 h4, .part4 h4 {
  padding: 5px 0px 5px 10%;
  color: #101268;
  font-size: 90%;
}
.part3 p, .part4 p {
  padding-left: 15%;
}
/* education End */

#skills {
   background-color: #0b1528;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   font-family: 'PT Serif', serif;
}

.part5, .part6 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part5 {
  padding-left: 10px;
}
.part5 h3, .part6 h3 {
  text-align: center;
  padding: 20px 0px 15px;
  color: #fece1a;
}
.part5 p {
  color: white;
  padding: 5px 10px;
}
{box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
  border-style: solid;
  border-color: white;
}

.skills {
  text-align: right;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 10px;
  color: #0b1528;

}

.team {width: 70%; background-color: #fece1a;}
.communication {width: 90%; background-color: #fece1a;}
.creativity {width: 80%; background-color: #fece1a;}
.leadership {width: 90%; background-color: #fece1a;}
.adaptability {width: 70%; background-color: #fece1a;}
.flexibility {width: 80%; background-color: #fece1a;}

/* skill End */


@media screen and (max-width:720px) {
  ul.topnav li:not(:first-child) {display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav {
    padding-left: 0px;
  }
  .intro h2 {
    font-size: 18px;
  }
  .intro p {
    font-size: 15px;
  }
  .main-img img {
    margin: 40px 7%;
  }
  .part1 {
    float: none;
    width: 65%;
    padding: 0px 18%;
  }
  .part1 p {
    padding-left: 0px;
    text-align: center;
  }
  .part2 {
    float: none;
    width: 65%;
    padding: 0px 16%;
  }
  .part2 p {
    text-align: center;
    padding-left: 0px;
  }
  #education {
    padding-bottom: 0px;
    padding-right: 5px;
  }
  .part3, .part4 {
    float: none;
    width: 100%;
    border-style: solid;
    border-color: #0b1528;
    padding-bottom: 10px;
  }
  .part3 h4, .part4 h4 {
    text-align: center;
    padding-left: 0px;
  }
  .part3 p, .part4 p {
    text-align: center;
    padding: 0px 10px;
  }
  .part5, .part6 {
    width: 100%;
    float: none;
  }
  #skills {
    padding: 0px 30px 0px 0px;
  }

}

@media screen and (max-width:720px) {
  ul.topnav.responsive {position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width:650px) {
  .img {
      margin: 10px auto;
      display: block;
      float: none;
  }
  .main-img img {
    height: 230px;
    width: 230px;
    margin: 40px 6%;
  }

}

@media screen and (max-width:560px) {
  .Sanduni {
    font-size: 65px;
  }
  .Rathnayake {
    font-size: 50px;
    padding-left: 55px;
  }
  .main-img img {
    margin: 40px 24%;
  }
  .intro {
    padding-top: 0px;
    float: none;
  }
  .intro h2{
    text-align: center;
  }
  .intro p{
    text-align: center;
  }
  .basic {
    height: 430px;
  }

}

@media screen and (max-width:400px) {

  .main-img img {
    margin: 40px 10%;
  }
}


@media screen and (max-width:320px) {

  .main-img img {
    margin: 40px 7%;
  }
  .intro {
    padding-top: 0px;
    float: none;
  }
  .intro h2 {
    text-align: center;
  }
  .intro p {
    text-align: center;
  }
  .basic {
    height: 430px;
  }

}
