body, h1, h2, h3, h4, img, p, ul, li, a, hr, header, span, nav, section {
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
body {
  background-color: #010611;
}
html {
  scroll-behavior: smooth;
}
main {
  max-width: 1000px;
  height: auto;
  background-color: white;
  margin: 20px auto;
  display: block;
  box-shadow: 0px 1px 20px 1px;
}

.logo {
	font-family: "Times New Roman", Times, serif;
}
.hello {
  font-size: 50px;
  padding-left: 60px;
  padding-top: 30px;
  color: #fece1a;
  text-shadow: 2px 2px 4px #000000;
}
.sanduni {
  font-size: 50px;
  text-align: center;
  color: #101268;
  text-shadow: 2px 2px 4px #8c8c7b;
  position: relative;
  top: -10px;
  padding-bottom: 20px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding-left: 26%;
  overflow: hidden;
  background-color: #0b1528;
}
.log {
	float: right;
}
li {float: left;
}
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.topnav li a:hover {
  background-color: #fece1a;
  color: #0b1528;
  transition-delay: 0.35s;
}
ul.topnav li.icon {
  display: none;
}
/* --------------------Navigation End----------------- */
.basic {
  height: 500px;
}
.main-img {
  width: 50%;
  float: left;
  position: relative;
}
.main-img img {
  margin: auto;
  display: block;
  padding-top: 50px;
  height: 400px;
  width: 300px;
}
.intro {
  padding-top: 190px;
  float: left;
  position: relative;
}
.intro h2 {
  text-align: left;
  padding-bottom: 10px;
  color: #101268;
}
.intro p {
  font-size: 20px;
  font-family: 'PT Serif', serif;
  text-align: left;
}
/* ----------------------------basik End---------------------------- */
#about {
   background-color: #0b1528;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   padding-bottom: 50px;
   padding-top: 20px;
}
#contact {
   background-color: #0b1528;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   padding-bottom: 50px;
   padding-top: 20px;
}
.about {
  background-color: #0b1528;
}
.about h3 {
  text-align: center;
  padding: 30px 0px;
  font-family: 'PT Serif', serif;
  color: #fece1a;
}
.about p {
  color: white;
  font-family: 'PT Serif', serif;
  text-align: justify;
}
.part1 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part2 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part1 p {
  padding-left: 30px;
}
.part2 p {
  padding-left: 25%;
}
/* ---------------------------about End----------------------------- */
#education {
   background-color: #fff;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   font-family: 'PT Serif', serif;
   padding-bottom: 10px;
}
.part3, .part4 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part3 h3, .part4 h3 {
  text-align: center;
  color: #101268;
  padding: 25px 0px 20px;
}
.part3 h4, .part4 h4 {
  padding: 5px 0px 5px 10%;
  color: #101268;
}
.part3 p, .part4 p {
  padding-left: 15%;
}
/* --------------------------education End -----------------------------*/
#skills {
   background-color: #0b1528;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   font-family: 'PT Serif', serif;
   padding-bottom: 20px;
}
.part5 {
  height: auto;
  width: 48%;
  float: left;
  position: relative;
}
.part5 {
  padding-left: 10px;
}
.part5 h3 {
  text-align: center;
  padding: 20px 0px 15px;
  color: #fece1a;
}
.part5 p {
  color: white;
  padding: 5px 10px;
}
{box-sizing: border-box}

.container {
  width: 95%;
  background-color: #ddd;
  border-style: solid;
  border-color: white;
}
.skills {
  text-align: right;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 10px;
  color: #0b1528;
}
.team {width: 70%; background-color: #fece1a; transition: width 2s linear 1s;}
.communication {width: 90%; background-color: #fece1a;}
.creativity {width: 80%; background-color: #fece1a;}
.leadership {width: 90%; background-color: #fece1a;}
.adaptability {width: 70%; background-color: #fece1a;}
.flexibility {width: 80%; background-color: #fece1a;}

.part6 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part6 h3 {
  color: #fece1a;
  text-align: center;
  padding: 20px 0px 40px;
}
.icon {
  width: 33.3%;
  float: left;
}
.icon img {
  height: 70px;
  width: 70px;
  margin: auto;
  display: block;
}
.icon h4 {
  text-align: center;
  padding: 5px 0px;
  color: #fff;
}
.part6-a {
  padding-top: 10px;
}
.part6-b .icon {
  padding-top: 30px;
}
/* --------------------------skill End --------------------------*/
#tool {
   background-color: #fff;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   font-family: 'PT Serif', serif;
   padding-top: 15px;
   padding-bottom: 30px;
}
.part7 {
  height: auto;
  width: 48%;
  float: left;
  position: relative;
}
.part7 {
  padding-left: 10px;
}
.part7 h3 {
  text-align: center;
  padding: 25px 0px 20px;
  color: #101268;;
}
.part7 p {
  color: black;
  font-size: 98%;
  padding-left: 30px;
}
.part8 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part8 h3 {
  color: #101268;
  text-align: center;
  padding: 25px 0px 20px;
}
.part8 h4 {
  color: #101268;
  padding-bottom: 5px;
  text-align: center;
}
.part8 p {
  text-align: center;
  padding-bottom: 20px;
}
.part8 img {
  height: 240px;
  width: 240px;
  margin: auto;
  display: block;
}
/* --------------------------tool End --------------------------*/
#contact {
   background-color: #0b1528;
   background-position: right top;
   background-repeat: repeat-y;
   overflow: hidden;
   font-family: 'PT Serif', serif;
   padding-top: 15px;
   padding-bottom: 30px;
}
.part9 {
  height: auto;
  width: 50%;
  float: left;
  position: relative;
}
.part9 h3 {
  color: #fece1a;
  text-align: center;
  padding: 25px 0px 30px;
}
.loc1 {
  width: 12%;
  float: left;
  padding-left: 15%;
}
.loc1 img {
  height: 35px;
  width: 35px;
  float: left;
  padding-bottom: 20px;
}
.loc2 {
  padding-top: 10px;
}
.loc2 p {
  color: white;
  width: 100%;
  padding-bottom: 25px;
}
.map {
overflow: hidden;
height: 350px;
width: 50%;
margin-bottom: 20px;
margin-top: 25px;
}

/* --------------------------contact End --------------------------*/
#logo-top {
  float: left;
}
#logo-line-top {
  width: 189px;
  height: 2px;
  background-color: #fece1a;
  transform: rotate(63deg);
  margin-left: 107px;
  margin-top: -2px;
}
#logo-top img {
 margin-top: 23px;
}
#top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-bottom: 2px solid #fece1a;
    border-radius: 5px;
    background-color: #181a1c;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/top-icon.png);
    box-shadow: 0 0 19px 5px rgba(254, 206, 26, 0.3);
    transition: 0.5s;
}
#top:hover {
  border-bottom: 2px solid #181a1c;
  background-color: #fece1a;
  background-image: url(images/top-icon-hover.png);
  transition: 0.5s;
}


@media screen and (max-width:720px) {
  .hello {
    padding-left: 0px;
    text-align: center;
    padding-top: 20px;
  }
  .sanduni {
    font-size: 40px;
    top: 0px;
  }
  ul.topnav li:not(:first-child) {display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav {
    padding-left: 0px;
  }
  .intro {
    padding-top: 230px;
    padding-left: 20px;
  }
  .intro h2 {
    font-size: 18px;
  }
  .intro p {
    font-size: 15px;
  }
  .part1 {
    float: none;
    width: 65%;
    padding: 0px 18%;
  }
  .part1 p {
    padding-left: 0px;
    text-align: center;
  }
  .part2 {
    float: none;
    width: 65%;
    padding: 0px 16%;
  }
  .part2 p {
    text-align: center;
    padding-left: 0px;
  }
  #education {
    padding-bottom: 0px;
    padding-right: 5px;
  }
  .part3, .part4 {
    float: none;
    width: 100%;
    border-style: solid;
    border-color: #0b1528;
    padding-bottom: 10px;
  }
  .part3 h4, .part4 h4 {
    text-align: center;
    padding-left: 0px;
  }
  .part3 p, .part4 p {
    text-align: center;
    padding: 0px 10px;
  }
  .part5 {
    width: 100%;
    float: none;
  }
  .container {
    width: 96%;
  }
  #skills {
    padding: 0px 10px 20px;
  }
  .part6 {
    width: 75%;
    float: none;
    padding-left: 0px;
    margin: auto;
  }
  .part6-b .icon {
    padding-top: 30px;
  }
  .part7 {
    width: 100%;
    float: none;
  }
  .part7 {
    padding-left: 0px;
  }
  .part7 p {
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
  }
  .part8 {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
  .part8 h4, .part8 p {
    text-align: center;
    padding-left: 0px;
  }
  .part9 {
    width: 100%;
    float: none;
  }
  .loc1 {
    width: 9%;
    padding-left: 30%;
  }
  .map {
    height: auto;
    width: 100%;
  }

}

@media screen and (max-width:720px) {
  ul.topnav.responsive {position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width:650px) {
  .img {
      margin: 10px auto;
      display: block;
      float: none;
  }
  .hello {
    font-size: 40px;
    padding-top: 10px;
  }
  .sanduni {
    font-size: 30px;
  }


}

@media screen and (max-width:560px) {

  .main-img {
    width: 100%;
    float: none;
  }
  .main-img img {
    height: 350px;
    width: 250px;
  }
  .intro {
    padding-top: 0px;
    padding-left: 0px;
    float: none;
  }
  .intro h2{
    text-align: center;
  }
  .intro p{
    text-align: center;
  }
  .basic {
    height: 560px;
  }
  .loc1 {
    padding-left: 18%;
  }
  .loc2 p {
    margin-left: 30px;
    font-size: 85%;
  }
}

@media screen and (max-width:420px) {
  .hello {
    font-size: 30px;
  }
  .sanduni {
    font-size: 25px;
  }
}

@media screen and (max-width:400px) {
  .part6 {
    width: 90%;
  }
  .loc1 {
    padding-left: 10%;
    width: 12%;
  }

}


@media screen and (max-width:320px) {

  .intro {
    padding-top: 0px;
    float: none;
  }
  .intro h2 {
    text-align: center;
  }
  .intro p {
    text-align: center;
  }
  .main-img img {
    height: 300px;
    width: 200px;
  }
  .loc1 {
    padding-left: 5%;
    width: 15%;
  }
  .loc2 p {
    margin-left: 10px;
  }
  .part8 img {
    height: 200px;
    width: 200px;
  }

}
